<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PFM: Modify Creditor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body{
            background-color: #80D8FF;
        }
        .jumbotron{
            font-family: Gabriola;
            background-color: #4A148C;
            color: white;
            padding: 10px;
            margin: 0px;
            margin-left: 20%;
            border-radius: 0px;
        }
        .table-hover tbody tr:hover{
            background-color: #00B0FF;
        }
        .table thead{
            background-color: #0091EA;
            font-weight: 700;
        }
        .containerMenu{
            padding-top: 10px;
            position: fixed;
            color: white;
            height: 100%;
            width: 20%;
            background-color: #4A148C;
        }
        .containerData{
            padding-left: 20%;
        }
        .btn{
            text-align: left;
            padding-left: 20px;
            color: white;
        }
        .btn:hover{
            background-color: #0091EA;
        }
        #active{
            pointer-events: none;
            font-weight: bold;
        }
        #add:hover{
            fill: #4A148C;
            border-radius: 24px;
            padding: 0px;
        }
    </style>
</head>
<body>
    <div class="containerMenu">
        <div class="nav flex-column">
            <a class="btn nav-item"  href="/account">Accounts</a>
            <a class="btn nav-item" href="/creditor">Creditors</a>
            <a class="btn nav-item" href="/debtor">Debtors</a>
            <a class="btn nav-item" href="/income">Income</a>
            <a class="btn nav-item" href="/insurance">Insurance</a>
            <a class="btn nav-item" href="/mutualfunds">Mutual Funds</a>
            <a class="btn nav-item" href="/share">Share Market</a>
            <a class="btn nav-item" href="/transaction">Transactions</a>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Personal Finance Management</h1>
        </div>
    </div>
    <div class="containerData">
        <div class="container">

            <form action="/creditor/modify" method="POST">
                <input class="form-control" type="hidden" value="<%= data.c_code %>" id="old_code" name="old_code">
                <div class="form-group">
                    <label for="code">Creditor Code</label>
                    <input class="form-control" type="text" value="<%= data.c_code %>" id="code" name="code" placeholder="Creditor Code" required">
                </div>
                <div class="form-group">
                    <label for="name">Creditor Name</label>
                    <input class="form-control" type="text" id="name" value="<%= data.c_name %>" name="name" placeholder="Creditor Name" required">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" style="width: 100%;" maxlength="100"><%= data.c_description %></textarea>    
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>